{% extends "base.html" %}

	{% block title %}MTB RURAL 2025{% endblock %}

	{% block content %}
	<header id="header" class="header fixed-top">	    
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
					<div class="site-logo"><a class="scrollto" href="#hero-block"><img class="logo-icon" src="{{ url_for('static', filename='assets/images/logo-white.svg') }}" alt="logo"></a></div>    
					
					<div class="navbar-btn order-lg-2"><a class="btn btn-secondary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Tickets</a></div>
					
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
						<ul class="nav navbar-nav">
							
							<li class="nav-item"><a class="nav-link scrollto" href="#about-section">About</a></li>                                              
							<li class="nav-item"><a class="nav-link scrollto" href="#speakers-section">Speakers</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#schedule-section">Schedule</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#tickets-section">Tickets</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#venue-section">Venue</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#sponsors-section">Sponsors</a></li>
						</ul><!--//nav-->
					</div><!--//navabr-collapse-->

				</nav><!--//main-nav-->
				
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->
	
	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active">
				</div>
				<div class="carousel-item-2 carousel-item">
				</div>
				<div class="carousel-item-3 carousel-item">
				</div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">MTB RURAL 2025</h1>
				<div class="hero-meta mb-3"><i class="far fa-calendar-alt me-2"></i>24 Oct, 8 am<i class="fas fa-map-marker-alt mx-2"></i>Tandil, Buenos aires</div>
				<div class="hero-intro mb-4">El mayor evento de ciclismo rural <br>de la provincia.</div>
				<div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Tickets</a></div>
				
			</div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->

	</div><!--//stats-block-->
	<section id="about-section" class="about-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">sobre el evento</h3>
			<div class="section-intro single-col-max mx-auto mb-4">La carrera de ciclismo rural mas grande de la provincia, va a tomar parte en la ciudad de Tandil en Buenos Aires el 24 de octubre a las 8am, va a contar con dos modalidades, una corta de 30km y otra larga de 80km.</div>
			<div class="benefits-list text-center mb-3">
			</div><!--//benefits-list-->
			<div class="event-countdown text-center mb-3">		   
				<h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
				<div id="countdown-box" class="countdown-box"></div>
			</div><!--//event-countdown-->
			<div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Your Ticket Today</a></div>
		</div><!--//container-->
	

	<section id="tickets-section" class="tickets-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Tickets</h3>			
			<div class="row pricing mb-5">
				<div class="row pricing mb-5 justify-content-center">
					<div class="card card-special rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Carrera larga</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center"><span class="currency">$</span><span class="number">2000</span></div>
								<div class="desc px-3">
									carrera larga de 80km
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-primary">Buy Now</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="row pricing mb-5 justify-content-center">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Carrera corta</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">$</span><span class="number">1000</span></div>
								<div class="desc px-3">
									carrera corta de 30km						    
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-primary">Buy Now</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
			</div><!--//pricing-->
			
			<div class="offers text-center bg-white p-4 p-lg-5">
				<h4 class="mb-3">What's included?</h4>
				<ul class="offers-list list-unstyled d-inline-block mx-auto text-start">
					<li><span class="icon-holder me-2"><i class="fas fa-user-tie"></i></span>60+ talks from industry-leading speakers</li>
					<li><span class="icon-holder me-2"><i class="fas fa-people-carry"></i></span>Access to 40+ workshops</li>
					<li><span class="icon-holder me-2"><i class="fas fa-glass-cheers"></i></span>Amazing after-parties</li>
					<li><span class="icon-holder me-2"><i class="fas fa-utensils"></i></span>FREE drinks, refreshments, lunch and dinner</li>
					<li><span class="icon-holder me-2"><i class="fas fa-tshirt"></i></span>FREE <a href="https://made4dev.com/" target="_blank">premium developer tees from made4dev</a></li>
					<li><span class="icon-holder me-2"><i class="fas fa-book"></i></span>FREE Udemy courses</li>
					<li><span class="icon-holder me-2"><i class="fas fa-gift"></i></span>FREE <a href="https://themes.3rdwavemedia.com/freebies/" target="_blank">Bootstrap templates and digital resources</a> for developers worth over $100</li>
				</ul><!--offers-list-->
			</div><!--//offers-->

		</div><!--//container-->
	</section><!--//tickets-section-->
	
	
	<section id="sponsors-section" class="sponsors-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Sponsors</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5">Quieres convertirte en sponsor del evento? haz click en el boton abajo.</div>
			<div class="row logos justify-content-center">
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="{{ url_for('static',filename= 'assets/images/logos/redbull.jpg')}}" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="{{ url_for('static',filename= 'assets/images/logos/ypf2.png')}}" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="{{ url_for('static',filename= 'assets/images/logos/logo-3.svg')}}" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="{{ url_for('static',filename= 'assets/images/logos/logo-4.svg')}}" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="{{ url_for('static',filename= 'assets/images/logos/logo-5.svg')}}" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="{{ url_for('static',filename= 'assets/images/logos/logo-6.svg')}}" alt=""></div>

			</div><!--//row-->
			<div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Convertirse en sponsor</a></div>
		</div><!--//container-->
	</section><!--//sponsors-section-->

	<footer class="footer py-5 theme-bg-primary">
		<div class="container text-center">
			
			<ul class="social-list list-inline mb-4"> 
				<li class="list-inline-item me-3"><a href="#"><i class="fas fa-envelope"></i></a><a href="#"> csdunidos@gmail.com</a></li>
				<li class="list-inline-item me-3"><a href="#"><i class="fa-brands fa-whatsapp fa-fw"></i></a><a href="#">+54 9 249 3179-3516</a></li>
				<li class="list-inline-item me-3"><a href="#"><i class="fa-brands fa-instagram fa-fw"></i></a><a href="#">Unidosxeldeporte</a></li>
				<li class="list-inline-item me-0"><a href="#"><i class="fa-brands fa-youtube fa-fw"></i></a><a href="#">Unidosxeldeporte</a></li>
			</ul><!--//social-list-->
			
			 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
			
		</div><!--//container-->	    
	</footer>

	{% endblock %}

	{% block extra_scripts %}
	<script src="{{ url_for('static', filename='assets/plugins/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/plugins/smoothscroll.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/plugins/gumshoe/gumshoe.polyfills.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	{% endblock %}